@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

* {
  font-family: 'Gaegu', cursive;
}

body,
h1,
h2,
h3,
h4,
p,
div,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-weight: normal;
}

body {
  background-color: #f0fff0;
}

.box {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1200px;
}

/* 상단 박스  */

.topbox {
  /* background-color: rebeccapurple; */
  height: 150px;
  width: 85%;
  margin: auto;
  padding: 0px 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.currentWeather {
  font-size: 20px;
}

.title {
  font-size: 35px;
  margin: auto;
}

.logoutbtn {
  height: 50px;
  width: 100px;
  background-color: lemonchiffon;
  border-radius: 40px;
  font-size: 17px;
  border: 1px solid gainsboro;
  color: gray;
  font-weight: 600
}


/* 투두 리스트 출력 */
.listBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 95%;
  padding: 10px;

  background-color: #f0fff0;
}

.todo_list {
  background-color: #8dcd52;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  margin-bottom: 10px;
  width: 90%;
  min-height: 50px;

  font-size: 30px;
  border-radius: 40px;
}

.todo_date {
  margin-right: 20px;
  font-size: 20px;
  margin: 0 20px;
  font-weight: bold;
}

.todo_list>h2 {
  font-size: 20px;
  margin-right: auto;
}

.todo_list>input {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: 20px;
  outline: 0;
  cursor: pointer;
}

.todo_list > input:checked {
    accent-color: green;
  }

.todo_list>button {
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
}

/* 투두리스트 완료시 타이틀과 날짜에 취소선 */
.todo_list>.todo_date_done {
  margin: 0 20px;

  text-decoration: line-through;
  font-size: 20px;
  font-weight: bold;
}

.listBox>.todo_list>h2.done {
  text-decoration: line-through;
}

/* 투두리스트 작성하는 곳 */
.myinput {
  background-color: lemonchiffon;
  width: 1100px;
  height: 130px;
  padding: 0px 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 40px;
  /* 밑에서 10px 위에 고정하기 */
  left: calc(50% - 550px);
  /* position: fixed; 일때 가운데로 오게는 설정
   (600px는 cta의 width: 1200px; 반값) */

  border-radius: 40px;
  border: 1px solid gainsboro;
}

.date {
  width: 130px;
  height: 65px;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  border-radius: 40px;
  color: gray;
  border: 1px solid gainsboro;
}

.inputList {
  width: 700px;
  height: 65px;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 40px;
  color: gray;
  border: 1px solid gainsboro;
}

.myinput>button {
  width: 150px;
  height: 65px;
  font-size: 20px;
  border-radius: 40px;
  background-color: gainsboro;
  border: 1px solid gainsboro;
  color: gray;
  font-weight: 800
}

@media (min-width: 769px) and (max-width: 1180px) {
#box {
  width: 100%;
  }
#topbox {
  width: 90%;
}
#myinput {
  margin: auto;
  width: 90%;
  height: 130px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0%);
}
}

@media ( max-width: 768px ) {
#box {
  width: 100%;
}

#topbox {
  width: 90%;
}

  .title {
  font-size: 25px;
  margin: auto;
}

  #box {
    width: 90%;
  }

#listBox {
    width: 90%;
  }

#myinput {
  margin: auto;
  width: 90%;
  height: 130px;
  position: absolute;
  left:50%;
  text-align:center;
  transform: translate(-50%, 0%);
}

.date {
  margin-right: 5px;
  width: 20%;
  font-size: 14px;
  padding: 5px;

  float: none;
}

.inputList {
  margin-right:5px;
  width: 60%;
}

.myinput>button {
  width: 20%;
}


}
